<div class="card">
    <div class="card-heaver">Filtros</div>

        <div class="card-body">
            <form>
                <div class="form-group mb-2">
                    <label for="de">De</label>
                    <input type="number" id="de" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="ate">Ate</label>
                    <input type="number" id="ate" class="form-control">
                </div>

                <button class="btn btn-primary btn-block btn-sm ">Filtrar</button>

            </form>
        </div>

</div>

